name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/
        uses: actions/upload-artifact@v4
        with:
          name: Babita-Ultimate-APK
          path: bin/*.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Babita-Ultimate-APK
          path: bin/*.apk
