name: Build Android APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get Date
        id: get-date
        run: |
          echo "::set-output name=date::$(date +'%Y-%m-%d')"
        shell: bash

      - name: Cache Buildozer
        uses: actions/cache@v2
        with:
          path: .buildozer
          key: ${{ runner.os }}-buildozer-${{ hashFiles('buildozer.spec') }}

      - name: Build with Buildozer
        uses: python-for-android/buildozer-action@master
        with:
          buildozer_version: master
          python_version: 3.10

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: package-${{ steps.get-date.outputs.date }}
          path: bin/

